/* line 1, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
html {
  font-family: 'Raleway', sans-serif;
}

/* line 5, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
html {
  position: relative;
}

/* line 9, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
body {
  top: 0;
  width: 100%;
}

/* line 14, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* line 21, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.nav-wrapper {
  background-color: #FEF9E0;
}

/* line 25, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.brand-logo {
  position: absolute;
  margin-left: 20px;
  margin-top: 1px;
  top: 0;
  z-index: 10000;
}

/* line 33, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.videoWrapper {
  position: relative;
  padding-bottom: 54.5%;
  padding-top: 25px;
  height: 0;
}

/* line 40, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 48, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.promo-fade {
  opacity: .95;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
}

/* line 55, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#overlay {
  position: absolute;
  top: 11%;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* line 67, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#overlay h5 {
  margin-top: 0;
  font-size: 4vmin;
}

/* line 72, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.overlay-button {
  display: none;
}

/* line 76, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.parallax-container {
  display: none;
}

/* line 80, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

/* line 87, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* line 95, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.carousel .carousel-item {
  width: 100%;
  height: 60px;
}

/* line 100, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.left-menu-line {
  margin-left: 23%;
}

/* line 104, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.right-menu-line {
  margin-right: 15%;
}

/* line 108, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.menu-text {
  color: black;
  font-weight: bolder;
}

/* line 113, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.dropdown-content .menu-text {
  color: black;
  font-weight: bold;
}

/* line 118, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.index-heading {
  font-size: 200%;
}

/* line 122, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.contact-heading {
  font-size: 200%;
  color: #ec407a;
}

/* line 127, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.contact-box {
  margin-top: 5%;
}

/* line 131, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.menu-heading {
  font-size: 200%;
}

/* line 135, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.menu-info {
  width: 100%;
  padding: .9em;
}

/* line 140, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.menu-section {
  background-color: #FEF9E0;
  padding: 50px;
}

/* line 145, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.about-heading {
  font-size: 200%;
  color: #ec407a;
}

/* line 150, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.news-heading {
  font-size: 200%;
  color: #ec407a;
}

/* line 155, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#new-footer {
  background-color: #FEF9E0;
}

/* line 159, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
#new-footer-copyright {
  background-color: #FEF9E0;
}

/* line 163, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.footer-heading {
  font-size: 200%;
  color: black;
}

/* line 168, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.footer-heading-line {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.01em;
  border-color: black;
}

/* line 178, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.footer-info {
  margin-top: 50px;
}

/* line 182, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.section-box {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

/* line 189, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.about-section {
  background-color: white;
  padding: 80px;
}

/* line 194, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.news-icon {
  margin: 40px;
}

/* line 198, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.heading-line {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.01em;
  border-color: #ec407a;
}

/* line 208, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.index-info {
  margin: 10%;
}

/* line 212, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.job-info {
  margin: 10%;
}

/* line 216, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.job-heading {
  font-size: 200%;
}

/* line 220, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.menu-icon {
  visibility: hidden;
  position: absolute;
  right: 0;
}

/* line 226, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.icons {
  color: black;
  margin-right: 20px;
  font-size: 150%;
}

/* line 232, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.input-field input[type=text]:focus + label {
  color: #ef9a9a;
}

/* line 236, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ef9a9a;
  box-shadow: 0 1px 0 0 #ef9a9a;
}

/* line 241, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #ef9a9a;
  box-shadow: 0 1px 0 0 #ef9a9a;
}

/* line 246, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
textarea {
  width: 100%;
  height: 100px;
}

/* line 251, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
textarea:focus {
  outline: none;
}

/* line 256, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.row-box {
  width: 100%;
  margin: 0 auto;
}

/* line 261, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.form-box {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
}

/* line 267, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.submit-button {
  background-color: #ec407a;
}

/* line 271, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
.submit-button:hover {
  background-color: #ec407a;
}

@media (max-width: 700px) {
  /* line 276, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .index-heading {
    font-size: 125%;
  }

  /* line 279, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .nav-heading {
    display: none;
  }

  /* line 282, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .menu-icon {
    visibility: visible;
  }

  /* line 285, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .contact-heading {
    font-size: 100%;
  }

  /* line 288, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .job-heading {
    font-size: 125%;
  }

  /* line 291, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .about-heading {
    font-size: 125%;
  }

  /* line 294, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .news-icon {
    height: 100px;
    width: 100px;
  }

  /* line 298, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  #overlay {
    display: none;
  }

  /* line 301, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  .videoWrapper {
    padding-bottom: 51%;
  }
}
@media (max-width: 1000px) {
  /* line 307, /Users/calvin/Desktop/new-territories-nyc/app/assets/stylesheets/materialize.css */
  #overlay {
    top: 6%;
  }
}
