<nav>
  <div class="navbar is-hidden-desktop" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="nav-item" href="#">
    		<%= image_tag 'icon.png', class:"image is-64x64", alt: 'Logo' %>
    	</a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="level is-hidden-touch">
    <p class="level-item has-text-centered">
      <a class="link is-info">About</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">Menu</a>
    </p>
    <p class="level-item has-text-centered">
      <%= image_tag 'icon.png', class:"image is-153x153", alt: 'Logo' %>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">Contact Us</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">The Buzz</a>
    </p>
  </div>
</nav>
