/*------------------------------------*\
    Footer
\*------------------------------------*/

.footer-heading {
	font-size: 200%;
	color: black;
}

.footer-heading-line {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.01em;
    border-color: black;
}

.footer-info {
	margin-top: 50px;
}

.page-footer {
	color: black;
}
