/*------------------------------------*\
    Main
\*------------------------------------*/

html {
	font-family: 'Raleway', sans-serif;
}

html {
	position: relative;
}

body {
   top: 0;
   width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
}
