<div id="body">
  <div class="center-align job-info">
  	<span class="job-heading bold">Join the New-Territories Team!</span><br><br>
  	<span class="italic">Looking forward to joining a great team?</span><br><br>
  	We'd love to hear from you! Please submit the following information below. 
  </div>

  	<div class="form-box">
    	<form class="col s10" method="post">
      		<div class="row">
        		<div class="input-field col s6">
          			<input placeholder="First Name" id="first_name" type="text" class="validate">
          			<label for="first_name">Name</label>
        		</div>
        		<div class="input-field col s6">
          			<input id="last_name" type="text" class="validate">
          			<label for="last_name">Last Name</label>
        		</div>
      		</div>
      		<div class="row">
        		<div class="input-field col s12">
          			<input id="email" type="email" class="validate">
          			<label for="email">Email</label>
        		</div>
      		</div>
        <div class="file-field input-field">
          <div class="btn red lighten-3">
            <span>Resume</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="row">
        	<div class="input-field col s12">
          		<textarea id="textarea1" class="materialize-textarea"></textarea>
          		<label for="textarea1">Availability/Other Messages</label>
        	</div>
      	</div>
        <div class="row">
            <button class="btn submit-button right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
        </div>
      </form>
    </div>
  <%= render partial: "./footer" %>
</div>