<div id="body">
	<div class="center-align about-info">
  		<span class="about-heading bold">About Us!</span><br><br>
  			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget magna finibus, pharetra quam nec, interdum purus. Morbi sagittis blandit tempus. Aenean vehicula nec sapien lobortis elementum. Sed hendrerit, lacus ac pharetra interdum, metus mauris tempus nisi, vel convallis turpis turpis in nulla. Vivamus et tellus varius, eleifend turpis id, facilisis risus. Nunc lacinia libero nec orci imperdiet aliquet. Nam nec iaculis quam, a lacinia enim. Aenean dolor eros, lobortis id libero eu, ullamcorper imperdiet erat. Etiam vulputate lacus nec mi volutpat fringilla. Donec dapibus facilisis arcu, sit amet interdum sem. Suspendisse commodo varius arcu, quis porta magna imperdiet ac.
  		<br><br>
 	</div>
 	<%= render partial: "./footer" %>
</div>