html {
	font-family: 'Raleway', sans-serif;
}

html {
	position: relative;
}

body {
   top: 0;
   width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
}


.nav-wrapper {
	background-color: #ffefc1;
}

.brand-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	top: 0;
}


#google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
/*Version One
	display: none;
	margin-top: 50px;*/
}
    
#google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.carousel .carousel-item {
	width: 500px !important;
}


/* Version One 
.image { 
   position: relative; 
   width: 100%; 
}

.image-text{
	position: absolute;
	top: 0;
	margin-top: 360px;
	width: 100%;
	text-align: center;
	vertical-align:middle;
	font-size: 450%;
	font-weight: bolder;
	color: white;
}

.slogan-text{
	position: absolute;
	top: 0;
	margin-top: 450px;
	width: 100%;
	text-align: center;
	vertical-align:middle;
	font-size: 200%;
	font-weight: bolder;
	color: white;
}

.image-nav { 
   position: absolute; 
   top: 0; 
   width: 100%; 
}

.menu-line {
	margin-top: 70px;
	margin-right: 30px;

.news-icon {
	margin-bottom: 25px;
	margin-left: 20px;
}

.copyright {
	width: 100%;
}

#contact-form {
	display: none;
	margin-top: 50px;
	padding: 30px;
	background-color: white;
}

.contact-form-heading {
	font-size: 200%;
}

}*/

.left-menu-line {
	margin-left: 30%;
}

.right-menu-line {
	margin-right: 23%;
}

.menu-text {
	color: black;
	font-weight: bolder;
}

.dropdown-content .menu-text {
	color: black;
	font-weight: bold;
}

.index-heading {
    font-size: 200%;
}

.contact-heading {
	font-size: 150%;
}


.menu-heading {
	font-size: 200%;
}

.menu-info {
	width: 100%;
	padding: .9em;
}

.menu-section {
	background-color: #ffefc1;
	padding: 80px;
}

.about-heading {
	font-size: 200%;
	color: #ec407a;
}

.news-heading {
	font-size: 200%;
	color: #ec407a;
}

#new-footer {
	background-color: #ffefc1;
}

#new-footer-copyright {
	background-color: #ffefc1;	
}

.footer-heading {
	font-size: 200%;
	color: black;
}

.footer-heading-line {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.01em;
    border-color: black;
}

.footer-info {
	margin-top: 50px;
}

.section-box {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

/*.news-icons {   
    width: 940px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.news-icons a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
*/

.news-icon {
	margin: 40px;
}

.heading-line {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.01em;
    border-color: #ec407a;
}

.index-info {
	margin: 10%;
}

.job-info {
	margin: 10%;
}

.job-heading {
	font-size: 200%;
}

.menu-icon {
	visibility: hidden;
	position: absolute;
	margin-top: 30px;
	right: 0;
}

.icons {
	color: black;
	margin-right: 20px;
	font-size: 150%;
}

.input-field input[type=text]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

textarea {
	width: 100%;
	height: 100px;
}

textarea:focus { 
    outline: none;
}


.row-box {
	width: 100%;
  	margin: 0 auto;	
}

.form-box {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}

.submit-button {
	background-color: #ef9a9a;
}

.submit-button:hover {
	background-color: #ef9a9a;
}

@media (max-width: 550px) {
	.index-heading {
        font-size: 125%;
    }
    .nav-heading {
    	display: none;
    }
    .logo {
		display: none;
	}
    .menu-icon {
    	visibility: visible;
    }
    .contact-heading {
    	font-size: 100%;
    }
	.job-heading {
		font-size: 125%;
	}
	.about-heading {
		font-size: 125%;
	}
	.news-icon {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 900px) {
	.image-text {
		font-size: 350%;
		margin-top: 300px;
	}
	.slogan-text {
		font-size: 200%;
		margin-top: 380px;
	}
}

@media (max-width: 750px)  {
	.image-text {
		font-size: 300%;
		margin-top: 250px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 310px;
	}
}

@media (max-width: 600px)  {
	.image-text {
		font-size: 200%;
		margin-top: 200px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 250px;
	}
}

@media (max-width: 500px)  {
	.image-text {
		font-size: 200%;
		margin-top: 150px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 200px;
	}
}

@media (max-width: 414px) {
	.image-text {
		font-size: 200%;
		margin-top: 100px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 140px;
	}
}

@media (min-width: 1200px) {
	.image-text {
		margin-left: 65px;
	}
	.slogan-text {
		margin-left: 65px;
	}
}

@media (width: 768px) and (height: 1024px) {
	.image-text {
		font-size: 300%;
		margin-top: 250px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 310px;
	}
}
