html {
	font-family: 'Raleway', sans-serif;
}

html {
	position: relative;
}

body {
   top: 0;
   width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
}

.copyright {
	width: 100%;
}

.image { 
   position: relative; 
   width: 100%; 
}

.image-text{
	position: absolute;
	top: 0;
	margin-top: 360px;
	width: 100%;
	text-align: center;
	vertical-align:middle;
	font-size: 450%;
	font-weight: bolder;
	color: white;
}

.slogan-text{
	position: absolute;
	top: 0;
	margin-top: 450px;
	width: 100%;
	text-align: center;
	vertical-align:middle;
	font-size: 200%;
	font-weight: bolder;
	color: white;
}

.brand-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	top: 0;
}

.news-icon {
	margin-bottom: 25px;
	margin-left: 20px;
}

.popsugar-logo {
	margin-bottom: 30px;
}


#google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
    
#google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.carousel .carousel-item {
width: 500px !important;
}

.menu-section {
	background-color: #ff9999;
	padding: .9em;
	border-top: 10px solid #E5C100;
	border-bottom: 10px solid #E5C100;
}

.image-nav { 
   position: absolute; 
   top: 0; 
   width: 100%; 
}

.menu-line {
	margin-top: 70px;
	margin-right: 30px;
}

.menu-text {
	color: #D4AF37;
	font-weight: bolder;
}

.dropdown-content .menu-text {
	color: black;
	font-weight: bold;
}

.index-heading {
    font-size: 200%;
}

.contact-heading {
	font-size: 150%;
}

.menu-heading {
	font-size: 200%;
}

.menu-info {
	width: 100%;
	padding: .9em;
}

.about-heading {
	font-size: 200%;
}

.about-info {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 5%;
}

.index-info {
	margin: 10%;
}

.job-info {
	margin: 10%;
}

.job-heading {
	font-size: 200%;
}

.menu-icon {
	visibility: hidden;
	position: absolute;
	margin-top: 30px;
	right: 0;
}

.icons {
	color: white;
	margin-right: 5px;
	font-size: 150%;
}

.input-field input[type=text]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

.input-field input[type=email]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=email]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

.input-field textarea[id=textarea1]:focus + label {
	color: #ef9a9a;
}

.input-field textarea[id=textarea1]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

#google-maps {
	display: none;
	margin-top: 50px;
}

.row-box {
	width: 100%;
  	margin: 0 auto;	
}

.form-box {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}

.submit-button {
	background-color: #ef9a9a;
}

.submit-button:hover {
	background-color: #ef9a9a;
}

@media (max-width: 550px) {
	.index-heading {
        font-size: 125%;
    }
    .nav-heading {
    	display: none;
    }
    .logo {
		display: none;
	}
    .menu-icon {
    	visibility: visible;
    }
    .contact-heading {
    	font-size: 100%;
    }
	.job-heading {
		font-size: 125%;
	}
	.about-heading {
		font-size: 125%;
	}
}

@media (max-width: 900px) {
	.image-text {
		font-size: 350%;
		margin-top: 300px;
	}
	.slogan-text {
		font-size: 200%;
		margin-top: 380px;
	}
}

@media (max-width: 750px)  {
	.image-text {
		font-size: 300%;
		margin-top: 250px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 310px;
	}
}

@media (max-width: 600px)  {
	.image-text {
		font-size: 200%;
		margin-top: 200px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 250px;
	}
}

@media (max-width: 500px)  {
	.image-text {
		font-size: 200%;
		margin-top: 150px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 200px;
	}
}

@media (max-width: 414px) {
	.image-text {
		font-size: 200%;
		margin-top: 100px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 140px;
	}
}

@media (min-width: 1200px) {
	.image-text {
		margin-left: 65px;
	}
	.slogan-text {
		margin-left: 65px;
	}
}

@media (width: 768px) and (height: 1024px) {
	.image-text {
		font-size: 300%;
		margin-top: 250px;
	}
	.slogan-text {
		font-size: 150%;
		margin-top: 310px;
	}
}
