html {
	font-family: 'Raleway', sans-serif;
}

html {
	min-height: 100%;
	position: relative;
}

body {
   margin:0;
   padding:0;
   width: 100%;
   height: 100%;
}

.image { 
   position: relative; 
   width: 100%; 
}

.brand-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	top: 0;
}

.image-nav { 
   position: absolute; 
   top: 0; 
   width: 100%; 
}

.menu-line {
	margin-top: 70px;
	margin-right: 30px;
}

.menu-text {
	color: black;
	font-weight: bolder;
}

.index-heading {
    font-size: 200%;
}

.contact-heading {
	font-size: 150%;
}

.about-heading {
	font-size: 200%;
}

.about-info {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.index-info {
	margin: 10%;
}

.job-info {
	margin: 10%;
}

.job-heading {
	font-size: 200%;
}

.menu-icon {
	visibility: hidden;
	position: absolute;
	margin-top: 30px;
	right: 0;
}

.input-field input[type=text]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

.input-field input[type=email]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=email]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

.input-field textarea[id=textarea1]:focus + label {
	color: #ef9a9a;
}

.input-field textarea[id=textarea1]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

.form-box {
	width: 100%;
	margin-left: 10%;
}

@media (max-width: 525px) {
	.index-heading {
        font-size: 125%;
    }
    .nav-heading {
    	display: none;
    }
    .menu-icon {
    	visibility: visible;
    }
    .contact-heading {
    	font-size: 100%;
    }
	.job-heading {
		font-size: 125%;
	}
	.about-heading {
		font-size: 125%;
	}
}

@media (max-width: 414px) {
	.logo {
		display: none;
	}
}

@media (width: 768px) and (height: 1024px) {
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
