html {
	font-family: 'Raleway', sans-serif;
}

html {
	position: relative;
}

body {
   top: 0;
   width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
}


.nav-wrapper {
	background-color: #FEF9E0;
}

.brand-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 1px;
	top: 0;
	z-index: 10000;
}

.mobile-logo {
	display: none;
}

.image-container {
	display: none;
}

#google-maps {
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
}
    
#google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.carousel .carousel-item {
	width: 100%;
	height: 60px;
}

.left-menu-line {
	margin-left: 23%;
}

.right-menu-line {
	margin-right: 15%;
}

.menu-text {
	color: black;
	font-weight: bolder;
}

.dropdown-content .menu-text {
	color: black;
	font-weight: bold;
}

.index-heading {
    font-size: 200%;
}

.contact-heading {
	font-size: 200%;
	color: #ec407a;
}

.contact-box {
	margin-top: 5%;
}

.menu-heading {
	font-size: 200%;
}

.menu-info {
	width: 100%;
	padding: .9em;
}

.menu-section {
	background-color: #FEF9E0;	
	padding: 50px;
}

.about-heading {
	font-size: 200%;
	color: #ec407a;
}

.news-heading {
	font-size: 200%;
	color: #ec407a;
}

#new-footer {
	background-color: #FEF9E0;
}

#new-footer-copyright {
	background-color: #FEF9E0;	
}

.footer-heading {
	font-size: 200%;
	color: black;
}

.footer-heading-line {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.01em;
    border-color: black;
}

.footer-info {
	margin-top: 50px;
}

.section-box {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.about-section {
	background-color: white;	
	padding: 80px;
}

.about-info {
	padding: 30px;
}

.news-icon {
	margin: 40px;
}

.heading-line {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.01em;
    border-color: #ec407a;
}

.index-info {
	margin: 10%;
}

.job-info {
	margin: 10%;
}

.job-heading {
	font-size: 200%;
}

.menu-icon {
	visibility: hidden;
	position: absolute;
	right: 0;
}

.icons {
	color: black;
	margin-right: 20px;
	font-size: 150%;
}

.input-field input[type=text]:focus + label {
	color: #ef9a9a;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid #ef9a9a;
	box-shadow: 0 1px 0 0 #ef9a9a;
}

textarea {
	width: 100%;
	height: 100px;
}

textarea:focus { 
    outline: none;
}


.row-box {
	width: 100%;
  	margin: 0 auto;	
}

.form-box {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}

.submit-button {
	background-color: #ec407a;
}

.submit-button:hover {
	background-color: #ec407a;
}

/* Video Styling  */

.promo-container {
  top: -4em;
}

#promo-video {
    top: 0;
    position: static;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-bottom: 0;
}

#overlay {
  position: absolute;
  top: 8%;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

#overlay p {
  font-size: 9vmin;
  font-weight: 300;
  margin-bottom: 0;
}

#overlay h5 {
  margin-top: 0;
  font-size: 4vmin;
}

#overlay a {
  margin-top: 4em;
}

video {
    display: inline-block;
}

.promo-fade {
  opacity: .95;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
}

.promo-container .pattern-overlay {
	background-color: rgba(71, 71, 71, 0.59);
	padding: 110px 0 32px;
	min-height: 496px;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* End Video Styling*/

@media (max-width: 770px) {
	.index-heading {
        font-size: 125%;
    }
    .nav-heading {
    	display: none;
    }
    .menu-icon {
    	visibility: visible;
    }
    .contact-heading {
    	font-size: 100%;
    }
	.job-heading {
		font-size: 125%;
	}
	.about-heading {
		font-size: 125%;
	}
	.news-icon {
		height: 100px;
		width: 100px;
	}
	.mobile-logo {
		display: block;
	}
}

@media (max-width: 1100px) {
	#overlay {
		top: 5%;
	}
}

@media (max-width: 450px) {
	#overlay {
		top: 1%;
	}
	#overlay .container p {
		font-size: 350%;
	}
	.image-container {
		display: block;
	}
}

@media (max-width: 360px) {
	#overlay {
		top: 2%;
	}
	#overlay .container p {
		font-size: 200%;
	}
}