<div class="promo-container hide-on-med-and-down">
    <div class="promo-fade">
        <video autoplay muted id="promo-video">
          <source <%= video_tag( 'NT30sec.mp4' ) %>
        </video>
    </div>
    <div id="overlay">
        <div class="container">
            <p>New Territories NYC</p>
            <h5>Stop Making Sense!</h5>
        </div>
    </div>
</div>