<div class="promo-container">
	<a class="volume-button">
		<span class="volume-up"><i class="fa fa-volume-up" aria-hidden="true"></i></span>
		<span class="volume-off"><i class="fa fa-volume-off" aria-hidden="true"></i></span>
	</a>
    <div class="promo-fade">
        <video autoplay muted id="promo-video">
          <source src="https://drive.google.com/open?id=0B9M1vKl_68hnRjExcWZaenVXQ1k" type="video/mp4">
        </video>
    </div>
    <div id="overlay">
        <div class="container">
            <a class="overlay-button"><img src="/assets/NT_right_arrow.png" height="100" width="100"></a>
        </div>
    </div>
</div>

