<div class="promo-container">
    <div class="videoWrapper">
        <iframe id="player" src="https://www.youtube.com/embed/0aOIZXSATik?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1&autoplay=1&loop=1&playlist=0aOIZXSATik" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="overlay">
        <div class="container">
            <a class="overlay-button"><img src="/assets/NT_right_arrow.png" height="100" width="100"></a>
        </div>
    </div>
</div>