<div class="promo-container">
    <div class="videoWrapper">
        <iframe id="player" src="https://www.youtube.com/embed/0aOIZXSATik?modestbranding=1;controls=0;showinfo=0;rel=0;fs=1&autoplay=1&loop=1&playlist=0aOIZXSATik" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="overlay">
        <div class="container">
            <h1>New Territories NYC</h1>
            <h5>Stop Making Sense!</h5>
        </div>
    </div>
</div>