<div class="promo-container">
	<a class="volume-button">
		<span class="volume-up"><i class="fa fa-volume-up" aria-hidden="true"></i></span>
		<span class="volume-off"><i class="fa fa-volume-off" aria-hidden="true"></i></span>
	</a>
    <div class="videoWrapper">
        <iframe src="https://www.youtube.com/embed/0aOIZXSATik?autoplay=1&controls=0&fs=0&loop=1&playlist=0aOIZXSATik&showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="overlay">
        <div class="container">
            <a class="overlay-button"><img src="/assets/NT_right_arrow.png" height="100" width="100"></a>
        </div>
    </div>
</div>