<div class="promo-container">
    <div class="promo-fade">
        <video autoplay muted id="promo-video">
          <source src="/assets/RestRenderShort.mp4" type="video/mp4">
        </video>
    </div>
    <div id="overlay">
        <div class="container">
            <img src="/assets/NT_right_arrow.png" height="100" width="100">
        </div>
    </div>
</div>

