<div class="promo-container">
    <div class="promo-fade">
        <video autoplay muted id="promo-video">
          <source src="/assets/RestRenderShort.mp4" type="video/mp4">
        </video>
    </div>
</div>

