<div class="parallax-container">
  <div class="parallax">
    <img class="responsive-img" src="<%=@background_image%>">
  </div>
</div>
<div class="center-align section-box">
  <span class="about-heading bold">WHO WE ARE</span>
    <hr class="heading-line">
  	<p>New Territories was created in 2016 with the mission to bring traditional Hong Kong eats and sweets with a bit of New York flavor. The menu was crafted to bring a variety of artfully built combos of Hong Kong’s infamous street snack (the bubble waffle) with local artisan ice cream and modern take on popular dessert favorites: affogato and milkshake.</p>

		<p>Situated in the heart of Lower East Side, New York, the interior was designed to create an inviting, gallery-like atmosphere with a few visual pieces to parallel the neighboring art galleries. The art is purposefully incoherent because the founders believe that adulthood is stressful on its own. So relax: things don’t always have to make sense.</p>

		<p>The origination of the name, New Territories, is a nod to a region within Hong Kong. The flag on the logo references the iconic junk boat that can normally be seen sailing up and down Victoria Harbour, situated between Kowloon, HK and Hong Kong Island, HK.</p>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img class="responsive-img" src="<%=@parallax_image%>">
  </div>
</div>
<div class="center-align menu-section">
  <img class="responsive-img" src="/assets/menu.jpg">
</div>
<div class="center-align section-box">
  <span class="news-heading bold">FEATURED ON...</span>
  <hr class="heading-line">
  <div class="news-icons">
    <a href="http://ny.eater.com/2017/1/23/14355902/the-great-canadian-beer-hall-patisserie-chanson-flatiron-poke-run-lower-east-side#Jdcmku" target="_blank"> 
      <img class="news-icon" src="https://pbs.twimg.com/profile_images/513845495882477568/UDiDBo66.png" height=160 width=160>
    </a>
    <a href="https://spoonuniversity.com/place/new-territories-dishes-up-unicorn-milkshakes-in-nyc?utm_campaign=website&utm_source=sendgrid.com&utm_medium=email" target="_blank">
      <img class="news-icon" src="https://pbs.twimg.com/profile_images/451244547138285568/ZIrIUPof.png" height=150 width=150>
    </a>
     <a href="https://www.thrillist.com/venues/eat/new-york/restaurants/new-territories" target="_blank">
      <img class="news-icon" src="https://www.thrillist.com/images/thrillist/apple-touch-icon-retina.png" height=150 width=150>
    </a>
    <a href="http://bwry.co/2jvUVBl" target="_blank">
      <img class="news-icon" src="https://pbs.twimg.com/profile_images/505384864837668865/Ysoebior.png" height=150 width=150>
    </a>
    <a href="http://gothamist.com/2017/01/16/new_territories_milkshake_les.php#photo-1" target="_blank"> 
      <img class="news-icon" src="http://www.turnstoneconsulting.com/wp-content/uploads/2007/12/gothamist-logo.png" height=150 width=150>
    </a>
    <a href="http://www.popsugar.com/food/Unicorn-Milkshake-From-New-Territories-NYC-43139447#photo-43139447" target="_blank"> 
      <img class="news-icon" src="http://news.invaluable.com/sites/artfact.newshq.businesswire.com/files/circle-logo.png" height=150 width=150>
    </a>
    <span class="stretch"></span>
  </div>
</div>
