<footer id="new-footer" class="page-footer">
  <div class="center">
    <span class="footer-heading bold">CASH ME OUTSIDEEE</span>
  <hr class="footer-heading-line">
  </div>
  <div class="footer-info container">
    <div class="row">
      <div class="col l6 s12">
        <div id="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.815287468556!2d-73.99018058459474!3d40.72208257933074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25983ee669a35%3A0x312653375968096d!2s190+Orchard+St%2C+New+York%2C+NY+10002!5e0!3m2!1sen!2sus!4v1485233086884" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <p>
          190 Orchard St<br>
          New York, NY 10002
        </p>
        <p>
          1.646.649.4521<br>
          newterritoriesny@gmail.com<br><br>
        </p>
        <p>
        <br><br>
        SUN - WED: 1PM - 10PM<br>
        THURS - SAT: 1PM - 11PM
        </p>
        <p>
          <a href="https://www.instagram.com/newterritoriesny/?hl=en" target="_blank" class="icons">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/newterritoriesny/" target="_blank" class="icons">
            <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://www.yelp.com/biz/new-territories-new-york" target="_blank" class="icons">
            <i class="fa fa-yelp" aria-hidden="true"></i></a>
          <a href="https://foursquare.com/v/new-territories/58797de93ef0f660252baa91" class="icons">
            <i class="fa fa-foursquare" aria-hidden="true"></i>
        </p>
      </div>
    </div>
  </div>
  <div id="new-footer-copyright" class="footer-copyright">
  </div>
</footer>

<!-- Version One
<footer class="page-footer">
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <a name="contact">
          <span class="white-text contact-heading">Contact Us!</span>
        </a>
        <p class="grey-text text-lighten-4">
          190 Orchard St<br>
          New York, NY 10002<br>
          1.646.649.4521
        </p>
        <p>
          <a href="https://www.instagram.com/newterritoriesny/?hl=en" target="_blank" class="icons">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/newterritoriesny/" target="_blank" class="icons">
            <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://www.yelp.com/biz/new-territories-new-york" target="_blank" class="icons">
            <i class="fa fa-yelp" aria-hidden="true"></i></a>
          <a id="google-click" href="https://goo.gl/maps/vwWN1Qd3brw" class="icons">
            <i class="fa fa-map-marker" aria-hidden="true"></i></a>
          <a id="contact-click"><i class="fa fa-envelope icons" aria-hidden="true"></i></a>
        </p>
        <div id="contact-form">
          <%= render template: "contacts/index", :layout => false %>
        </div>
        <div id="google-maps">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.815287468556!2d-73.99018058459474!3d40.72208257933074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25983ee669a35%3A0x312653375968096d!2s190+Orchard+St%2C+New+York%2C+NY+10002!5e0!3m2!1sen!2sus!4v1485233086884" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright right-align">
    <div class="container copyright">
      © New Territories NYC 2017
    </div>
  </div>
</footer> -->